    <!-- ******ABOUT****** -->
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">What is HTGS?</h2>
            <p class="intro text-center">HTGS is the Hybrid Task Graph Scheduler API that is designed to aid in creating task graphs for algoritms to obtain performance across CPUs and multiple-co-processors.</p>
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-object-group"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Ease of use</h3>
                        <p>C++ Object-oriented design to quickly port existing computational functions into tasks to build complex task graphs.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-recycle"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Memory Management</h3>
                        <p>Connect any task to memory(CPU or GPU) to keep your algorithms running within memory limits. </p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-server"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Extreme Pipelining</h3>
                        <p>Every task is bound to one or more threads, such that each task will compute asynchronously with all other tasks in the graph.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="clearfix visible-md"></div>
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-cog"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Execution across ALL CPUs and GPUs</h3>
                        <p>Decompose your problem domain and distribute data to execution pipelines, where each pipeline runs on a separate GPU taking advantage of distributed multi-GPU computation.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Customize</h3>
                        <p>The API is templatized as easy-to-use interfaces to quickly create new tasks that can be shared and used for a wide variety of algorithms.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-file-code-o"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Lightweight and easy to Install</h3>
                        <p>The entire API is a series of header files. Just include the header files in your project and begin creating task graphs. Includes CMake configuration to generated documentation and run unit tests.</p>
                    </div><!--//content-->
                </div><!--//item-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//about-->
