    <!-- ******FEATURES****** -->
    <section id="features" class="features section">
        <div class="container text-center">
            <h2 class="title">Features</h2>
            <ul class="feature-list list-unstyled">
                <li><i class="fa fa-check"></i> C++11</li>
                <li><i class="fa fa-check"></i> Pipelined Multi-Threaded</li>
                <li><i class="fa fa-check"></i> Coarse-Grained Parallelism</li>
                <li><i class="fa fa-check"></i> Multi-CPU and Multi-GPU</li>
                <li><i class="fa fa-check"></i> High Performance</li>
                <li><i class="fa fa-check"></i> Visual Debugging</li>
                <li><i class="fa fa-check"></i> Feature Rich API</li>
                <li><i class="fa fa-check"></i> Open Source</li>              
            </ul>
        </div><!--//container-->
    </section><!--//features-->
